body {
    font-family: Arial, sans-serif;
    margin: 20px;
}



table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: auto;
    color: white;
    justify-content: center;
    border-radius: 10px;
    border: none;
    background-color: #45a0a0;
}
.container {
    width: 400px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container */
    text-align: center;
    z-index: 0;
}

th,
td {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
    border-radius: 18px;
}

th {
    background-color: #2e00fb;
    border: none;
}

th:nth-child(1),
td:nth-child(1),
th:nth-child(2),
td:nth-child(2) {
    width: 60%;
    /* Adjust the width as needed */
}

#result {
    margin-top: 20px;
    border: none;
}

#loading {
    display: none;
    color: blue;
    margin-top: 10px;
}

    .input-container {
        margin: 0 auto;
        position: relative;
        width: 30%;
    }
    
    .reset-icon {
        position: absolute;
        right: 8%;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    
    .reset-icon i {
        color: #780b0b; /* Adjust the color as needed */
    }
    #nicknameInput{
    
        display: block;
    }


    @media (max-width: 640px) {
        table {
            width: 95%;
        }

        .reset-icon {
            
            top: 50%;
            transform: translateY(-50%);
        }
        .input-container{
            width: 80%;
        }
    }